on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to update repo name in package.json
    steps:
      - uses: actions/checkout@v2      
      - name: Repo rename action step
        id: hello
        uses: jacklehamster/package-rename-action@v1.00
        with:
          repository: ${{ github.repository }}

      - name: Commit files # transfer the new html files back into the repository
        run: |
          git config --local user.name "jacklehamster"
          git add .
          git diff --quiet && git diff --staged --quiet || git commit -m "Updating repo name in package.json"
        
      - name: Push changes # push the output folder to your repo
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true
